.users {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(160px, 1fr));
  @extend %container;
  border: lighten($color-third, 25%)  1px solid;
  border-right: none;
  border-bottom: none;
  &__item {
    // flex: 1 1 160px;
    border: lighten($color-third, 25%)  1px solid;
    border-top: none;
    border-left: none;
    padding: 15px;
    display: flex;
    flex-direction: column;
    header {
      order: 1;
      
    }
  }
  &__img {
    margin: 10px 0;
    order: 2;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      border-radius: 25px;
      width: 100%;
      height: auto;
    }
  }
}

.rating-result {
  order: 3;
}
.rating-result span {
	font-size: 16px;
	line-height: 1;
	color: lightgrey;
	text-shadow: 1px 1px #bbb;
}
.rating-result > span:before {
	content: '★';
}
.rating-result > span.active {
	color: gold;
}