
%container {
  margin: auto;
  width: 90%;
  @media screen and (max-width: 768px) {
    margin: 0 15px;
    width: calc(100% - 30px);
    
  }
}
$color-text-primary: #2D93AD;
$color-text-secondary: #88AB75;
$color-text-third: #2D93AD;
// extra
$color-success: green;
$color-danger: red;
$color-warning: orange;
$color-info: lightblue;
$color-light: #FEFFFE;
$color-dark: #1a1a1a;

@import '_null';

@import '_extra';

@import 'block/_header-block';

@import 'block/_users-block';
